<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
<h1 > Contact us!</h1>
</center>
<img src="hello.png" alt="hello" style="width: 40px; ;"> <br> <br>

    <form action="" method="get">
        <label for="First Name" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px ">First Name</label> 
        <input type="text" name="First Name" id="First Name" required style="margin-left: 40px;"> <br> <br>

        <label for="Last Name" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px">Last Name</label> 
        <input type="text" name="Last Name" id="Last Name"  required style="margin-left: 40px"> <br> <br>

        <label for="Email" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px"> Email</label> 
        <input type="email" name="Email" id="Email" required style="margin-left: 40px"> <br> <br>

        <label for="Year of birth" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px"> Year of birth</label> 
        <input type="text" name="Year of birth" id="Year of birth"  pattern="[1][9][0-9][0-9]" style="margin-left: 40px">
         <small style="color: rgb(12, 211, 55);">Please insert: 19**
         </small>  <br><br>


        <label for="ID" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px">ID</label> 
        <input type="number" name="ID" id="ID" style="margin-left: 40px"> <br> <br>

        <label for="Corona" style="color: rgb(13, 106, 211) ;border: 3px solid ;margin: 30px;font-size: large; padding:3px"> had corona?</label> 
        <select name="Corona" id="Corona">
            <option value="yes ">yes</option>
            <option value="no">no</option>
        </select><br><br><br>

        <input type="submit" name="Submit" value="Submit" id="Submit" style="margin-left: 200px;"> <br> <br>

        <nav> 
    
            <h4 style="border: 2px solid rgb(160, 189, 228); padding: 8px;">Additional pages</h3>
            <a href="C:\Users\keren\Desktop\שנה ג\סמסטר ב\web\ex1\keren-schmal\templates\home page.html">Home Page</a>

        </nav>
    </form>
</body>
</html>


       