
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/styling.css">
    <script defer src="..//static/function.js" ></script>
    <title>Document</title>
</head>
<body>
  
    <header>
        <img class="images" src="../static/hello.png" alt="hello">
        <nav>
            <ul class="topLinks">
                <li> <a href="contact.html"> Contact us  </a>  </li>
                <li> <a href="home page.html"> Home Page </a>  </li>
            </ul>
        </nav>
    </header>

    <div class="title"> Welcome to the ICE CREAM website
        <p id="subTitle"> Here you can invite the best ice cream for you

        </p>
    </div>

    <div class="main"
        <p id="animaton">hello!!</p>
    </div>

    <img class="imagesIce" id= "ice1" src="../static/iceCreamPic.jpg" alt="hello">
    

    <div class="navigator"
        <nav> 
            <h4 class="Nav"> Additional pages</h4>
            <a class= "reference" href="C:\Users\keren\Desktop\שנה ג\סמסטר ב\web\ex1\keren-schmal\templates\contact.html"> Contact us</a>
        </nav>
    </div>
    
  
</body>
</html>