<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center> <h1 style="background-color:rgb(223, 199, 199);"> This is the first homework in WEB
            </h1>
    </center>
   
    <p style="color: rgb(219, 22, 154);font-size:25px"> I am very excited to submit the first exercise <style></style>
    </p>
    <img src="../static/hello.png" alt="hello"> <br> <br><br> <br><br> <br><br> <br><br> <br>
    

    <nav> 
    
        <h4 style="border: 2px solid rgb(160, 189, 228); padding: 8px; ">Additional pages</h3>
            <a href="C:\Users\keren\Desktop\שנה ג\סמסטר ב\web\ex1\keren-schmal\templates\contact.html"> Contact us</a>
    
    </nav>
</body>
</html>